body {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 5rem;
    max-height: 50vh;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

/* grwoing-borders */
ul.growing-borders li a {
    color: #3d3d3d;
    font-size: 1rem;
    padding: 10px 15px;
    position: relative;
}

ul.growing-borders li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}

ul.growing-borders li a:hover:before, ul.growing-borders li a:hover:after {
    transform: scaleX(1);
}


ul.growing-borders li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: right;
}

/* background-border */

ul.background-border li a {
    color: #3d3d3d;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0px 15px ;
    position: relative;
    transition: all 0.5s;
}

ul.background-border li a:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    transition: all 0.5s;
    opacity: 0;
}

ul.background-border li a:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    transition: all 0.5s;
    opacity: 0;
}

ul.background-border li a:hover:before {
    opacity: 1;
    left: -5px;
    bottom: -5px;
}

 ul.background-border li a:hover:after {
    opacity: 1;
    right: -5px;
    top: -5px;
 }

 ul.background-border li a:hover {
    background-color: #e91e63;
    color: #fff;
 }


 /* splitted-sackgound */
 ul.splitted-background li a {
    color: #262626;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    height: 2rem;
    width: 100px;
    position: relative;
    transition: all 0.5s;
}
ul.splitted-background li a:hover {
    color: #fff;

}
ul.splitted-background li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #262626;
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: top;
}
ul.splitted-background li span:nth-child(2) {
    left: 25%;
    transition-delay: 0.15s;
}
ul.splitted-background li span:nth-child(3) {
    left: 50%;
    transition-delay: 0.3s;
}
ul.splitted-background li span:last-child {
    left: 75%;
    transition-delay: 0.45s;
}

ul.splitted-background li a:hover span{
    transform: scaleY(1);
}


/*  moving-bottom-borders */
ul.moving-bottom-borders li {
    padding: 10px 20px;
}

ul.moving-bottom-borders li a {
    color: #222;
    position: relative;
}

ul.moving-bottom-borders li a:before {
    content: '';
    width: 0px;
    height: 3px;
    background-color: #00bcd4;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
}
ul.moving-bottom-borders li a:after {
    content: '';
    width: 0px;
    height: 3px;
    background-color: #f0f;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
}


ul.moving-bottom-borders li a:hover:before {
    width: 50%;
    transform: translateX(100%);
}
ul.moving-bottom-borders li a:hover:after {
    width: 50%;
    transform: translateX(-100%);
}