body {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 5rem;
    max-height: 50vh;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

/* Grwoing-Borders */
ul.growing-borders li a {
    color: #3d3d3d;
    font-size: 1rem;
    padding: 10px 15px;
    position: relative;
}

ul.growing-borders li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}

ul.growing-borders li a:hover:before, ul.growing-borders li a:hover:after {
    transform: scaleX(1);
}


ul.growing-borders li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: right;
}

/* Background-Border */

ul.background-border li a {
    color: #3d3d3d;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0px 15px ;
    position: relative;
    transition: all 0.5s;
}

ul.background-border li a:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    transition: all 0.5s;
    opacity: 0;
}

ul.background-border li a:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    transition: all 0.5s;
    opacity: 0;
}

ul.background-border li a:hover:before {
    opacity: 1;
    left: -5px;
    bottom: -5px;
}

 ul.background-border li a:hover:after {
    opacity: 1;
    right: -5px;
    top: -5px;
 }

 ul.background-border li a:hover {
    background-color: #e91e63;
    color: #fff;
 }